/* This is the styling of the Nav bar Header */
body{
    background-color: black ;
}

/* This invloves styling the nav bar and it's content*/
#myNavBar{
    background-color: rgba(0, 0, 0, 0.806);
    font-size: 120%;
    color: green;
    padding: 10px;
}
#navBrand img{
    width: 30px ;
}
#navBrand img:hover{
    width: 40px ;
}
#navBrand #navBrand-title{
    color: hsl(190, 74%, 51%);
    text-shadow: 2px 2px 5px rgb(236, 123, 123);
    font-weight: bold;
    font-style: italic;
}

#myNavBar ul a{
    color: hsl(0, 0%, 85%);
   
    border-radius: 10px;
    margin-left: 10px;
    text-shadow: 1px 1px 3px rgb(91, 74, 68);
}
#myNavBar ul a:hover{
    background-color: rgb(65, 113, 113);
    font-weight: bold;
}

#myNavBar #offcanvasBtnToggle{
    color: black ;
    background-color: white;
}

#myNavBar #canvasContainer{
    background-color: rgb(50, 50, 50);
    border-radius: 15px;
}
#canvas-header{
    background-color: black;
}

#canvas-header h5{
    color: hsl(190, 74%, 51%);
    text-shadow: 2px 2px 5px rgb(236, 123, 123);
    font-weight: bold;
    font-style: italic;
}
#canvas-header button{
    background-color: rgb(240, 114, 114);
    font-size: 1.3rem;
}

/* This is the styling of the main components */
@keyframes colorStyling{
    0%{
        border-left: 7px solid black;
        border-top: 7px solid black;
    }
    25%{
        border-left: 7px solid rgb(245, 191, 191);
        border-top: 7px solid rgb(204, 241, 245);
    }
    50%{
        border-left: 7px solid rgb(164, 117, 117);
        border-top: 7px solid rgb(131, 172, 177);
    }
    75%{
        border-left: 7px solid rgb(70, 42, 42);
        border-top: 7px solid rgb(55, 76, 79);
    }
    100%{
        border-left: 7px solid black;
        border-top: 7px solid black;
    }
}
#myCardImageContainer{
    width: 80%;
    margin: auto;
    border: none;
    margin-bottom: 50px;
    border-radius: 15px;
}
#myCardImage{
    max-height: 300px;
}
#myCardImage:hover{
    border-bottom: 2px solid red;
    border-right: 2px solid greenyellow;
}
#cardTitle{
    color: hsl(190, 74%, 51%);
    box-shadow: 3px 3px 3px rgb(159, 255, 205);
    border-radius: 10px;
    padding: 10px ;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}
#myCVContainer{
    border: none;
    padding: 15px;
    margin: auto ;
    border-radius: 15px;
    margin-bottom: 30px;
    width: 60% ;
    box-shadow: 2px 2px 9px rgb(168, 168, 239);
}
#myCVContainer:hover{
    border-top: 2px dashed greenyellow;
    border-left: 2px dotted rgb(247, 125, 94);
}
#myCVContainer button{
    color: white ;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
}
#cardText{
    margin-bottom: 20px;
}
#cardText h5{
    color: white;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgb(124, 124, 245);
    border-radius: 10px;
    padding: 10px ;
}
#cardText ul{
    border-radius: 10px;
    background-color: black;
}
.myCardList{
    color: hsl(190, 88%, 54%);
    font-weight: bold;
    font-family: sans-serif;
    background-color: black;
}
.myCardList:hover{
    background-color: hsla(0, 4%, 73%, 0.158);
}
#myGridContainer{
    margin-top: 100px;
    width: 80%;
    padding: 20px;
    padding-top: 40px;
    border-radius: 15px;
    background-color: rgb(48, 47, 47);
    border: none;
    box-shadow: 5px 5px 5px rgb(229, 191, 191);
    margin-bottom: 50px; 
}
#myGridContainer:hover{
    animation-name: colorStyling;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
#myAboutContainer{
    width: 80% ;
    margin: auto;
    padding: 15px ;
    border-radius: 15px;
    color: white;
    font-family: sans-serif;
    box-shadow: 5px 5px 5px hsl(177, 100%, 64%);
    font-size: 1.2rem;
}
#myAboutContainer:hover{
    border-left: 2px solid greenyellow;
    border-top: 2px solid rgb(174, 255, 0);
}
#myAboutContainer h3{
    color: hsl(190, 88%, 54%);
    font-style: italic;
    font-weight: bolder;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    padding: 10px ;  
}
.myTextStyle{
    color:hsl(190, 88%, 54%);
    font-weight: bolder;
}
.myTextAdding{
    color:hsl(190, 75%, 31%);
    font-weight: bold;
}
#line{
    color: rgb(42, 240, 55);
    font-size: 3rem;
    font-weight: bolder;
    width: 70% ;
    margin: auto ;
    margin-top: 100px;
    height: 6px ;
    background-color: rgb(32, 255, 16);
    border-radius: 5px;
}
/* This is the stylong of the footer */
footer{
    border-radius: 15px ;
    padding: 20px ;
    text-align: center;
    
}
footer h3{
    font-family: sans-serif;
    color:hsl(190, 74%, 51%) ;
    box-shadow: 5px 5px 10px rgb(109, 109, 246);
    margin-top: 50px;
    font-weight: bolder;
    padding: 15px ;
}
#myBtn{
    color: white ;
    margin-top: 50px;
}
