body{
    background-color: #000000 ;
}

/* This invloves styling the nav bar and it's content*/
#myNavBar{
    background-color: rgba(0, 0, 0, 0.806);
    font-size: 120%;
    color: green;
    padding: 10px;
}
#navBrand img{
    width: 30px ;
}
#navBrand img:hover{
    width: 40px ;
}
#navBrand #navBrand-title{
    color: hsl(190, 74%, 51%);
    text-shadow: 2px 2px 5px rgb(236, 123, 123);
    font-weight: bold;
    font-style: italic;
}

#myNavBar ul a{
    color: hsl(0, 0%, 85%);
   
    border-radius: 10px;
    margin-left: 10px;
    text-shadow: 1px 1px 3px rgb(91, 74, 68);
}
#myNavBar ul a:hover{
    background-color: rgb(65, 113, 113);
    font-weight: bold;
}

#myNavBar #offcanvasBtnToggle{
    color: black ;
    background-color: white;
}

#myNavBar #canvasContainer{
    background-color: rgb(50, 50, 50);
    border-radius: 15px;
}
#canvas-header{
    background-color: black;
}

#canvas-header h5{
    color: hsl(190, 74%, 51%);
    text-shadow: 2px 2px 5px rgb(236, 123, 123);
    font-weight: bold;
    font-style: italic;
}
#canvas-header button{
    background-color: rgb(240, 114, 114);
    font-size: 1.3rem;
}

/* This is styling of my main and it's component */
#myCertificateHeading{
    color: rgb(3, 255, 238) ;
    text-align: center;
    box-shadow: 2px 2px 3px rgb(206, 206, 249);
    width: 80% ;
    margin: auto;
    padding: 10px ;
    border-radius: 15px;
    margin-top: 100px;
}
#myCertificateDescription{
    color: rgb(5, 151, 141) ;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    font-size: 1.3rem;
}
@keyframes colorStyling{
    0%{
        border-left: 7px solid black;
        border-top: 7px solid black;
    }
    25%{
        border-left: 7px solid rgb(245, 191, 191);
        border-top: 7px solid rgb(204, 241, 245);
    }
    50%{
        border-left: 7px solid rgb(164, 117, 117);
        border-top: 7px solid rgb(131, 172, 177);
    }
    75%{
        border-left: 7px solid rgb(70, 42, 42);
        border-top: 7px solid rgb(55, 76, 79);
    }
    100%{
        border-left: 7px solid black;
        border-top: 7px solid black;
    }
}
#certificatContainer{
    padding: 20px ;
    border-radius: 15px;
    box-shadow: 5px 2px 5px rgb(201, 234, 247);
    background-color: rgb(31, 31, 31);
    margin-bottom: 30px;
}
#certificatContainer:hover{
    animation-name: colorStyling;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
#myCardBody{
    color: white ;
    border: none;
    height: 350px ;
    /* border: 1px solid white; */
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(116, 116, 233);
}
#myCardBody:hover{
    border-top: 3px dashed greenyellow;
    border-left: 3px dotted rgb(1, 156, 112);
}
#myCardBody h5{
    color: rgb(3, 234, 255) ;
    font-weight: bolder;
    font-style: italic;
    box-shadow: 1px 1px 2px rgb(186, 186, 251);
    padding: 10px ;
    border-radius: 10px;
}
#myCardBody p{
    color: white ;
    font-family: sans-serif;
    font-size: 1.2rem;
}
#myCertificateBtn{
    color: white ;
}
#myBtn{
    color: white ;
    width: 250px;
    margin: auto;
    text-align: center;
}
#line{
    color: rgb(42, 240, 55);
    font-size: 3rem;
    font-weight: bolder;
    width: 70% ;
    margin: auto ;
    margin-top: 100px;
    height: 6px ;
    background-color: rgb(32, 255, 16);
    border-radius: 5px;
}

/* This is the stylong of the footer */
footer{
    border-radius: 15px ;
    padding: 20px ;
    text-align: center;
    
}
footer h3{
    font-family: sans-serif;
    color:hsl(190, 74%, 51%) ;
    box-shadow: 5px 5px 10px rgb(109, 109, 246);
    margin-top: 50px;
    font-weight: bolder;
    padding: 15px ;
}